/*<!--------------------------------->*/
/*HOME*/

 /*header*/
 #header_h{
    background-image: linear-gradient(to bottom right, rgb(61, 61, 255), rgb(255, 50, 50));
    background-color: white;
    color: rgb(228, 228, 228);
    width: 1505px;
    height: 160px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#header_h h1{
    text-align: center;
    padding-top: 35px;
    color: white;
}

#header_h p{
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-indent: 10px;
    
}

/*nav*/
#nav_h{
    background-color:white;
    width: 1500px;
}

/*buttons*/
#home_btn{
    border: none;
    background-color: white;
    margin-left: 15px;
    width: 150px;
    height: 50px;
    cursor: pointer;
}
#home_btn:hover{
    background-color: rgb(220, 220, 220);
}

#portfolio_btn{
    border: none;
    background-color: white;
    margin-left: 15px;
    width: 150px;
    height: 50px;
    cursor: pointer;
}
#portfolio_btn:hover{
    background-color: rgb(220, 220, 220);
}

#contact_btn{
    border: none;
    background-color: white;
    margin-left: 15px;
    width: 150px;
    height: 50px;
    cursor: pointer;
}
#contact_btn:hover{
    background-color: rgb(220, 220, 220);
}

#about_btn{
    border: none;
    background-color: white;
    margin-left: 15px;
    width: 150px;
    height: 50px;
    cursor:wait;
}
#about_btn:hover{
    background-color: rgb(220, 220, 220);
}

#article_h{
    background-color: white;
    width: 1400px;
    height: 500px;
}

.header_a{
    line-height: 1px;
    color: rgb(60, 60, 60);
    text-indent: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.paragraph_a{
    padding-bottom: 10px;
    color: rgb(39, 39, 39);
    text-indent: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*<!--------------------------------->*/
/*PORTFOLİO PAGE*/

/*copyright*/
.footer{
    color: rgb(58, 58, 58);
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*background color*/
#background_p{
    background-color: white; /*rgb(39,39,39);*/
}
#header_p{
    background-image: linear-gradient(to bottom right, rgb(113, 194, 228),rgb(0, 146, 169));
    color: rgb(228, 228, 228);
    width: 1500px;
    height: 60px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#header_p h1{
    padding-top: 10px;
}

/*images*/
.img{
    width: 450px;
    height: 250px;
    user-select: none;
    -webkit-user-drag: none;
}
#image13{
    width: 500px;
    height: 350px;
    user-select: none;
    -webkit-user-drag: none;
} 
#image14{
    width: 500px;
    height: 350px;
    user-select: none;
    -webkit-user-drag: none;
} 
#image15{
    user-select: none;
    -webkit-user-drag: none;
}